doctype html
html(lang=ja)
	head
		title Admin Page
		link(rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css")
		script(rel="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
		script(type="text/javascript", src="/components/bootstrap/dist/js/bootstrap.min.js")

	body
		.container
			h1 Hello Admin
			p hello