.sidebar
  ul.nav.nav-pills.nav-stacked
    li
      a(href="/admin")
        i.fa.fa-home(area-hidden="true")
        span.icon-text ホーム
    li
      a(href="/admin/users")
        i.fa.fa-users(area-hidden="true")
        span.icon-text ユーザ情報
    li
      a(href="/admin/drinks")
        i.fa.fa-coffee(area-hidden="true")
        span.icon-text 商品情報
    li
      a(href="/")
        i.fa.fa-bar-chart(area-hidden="true")
        span.icon-text コーヒーマラソン
    li
      a(href="https://github.com/Canchu/CoffeeManager" target="_blank")
        i.fa.fa-github(area-hidden="true")
        span.icon-text GitHub
    li
      a(href="https://nestle.jp/amb/town/" target="_blank")
        i.fa.fa-shopping-cart(area-hidden="true")
        span.icon-text ネスカフェ
