doctype html
html(lang=ja)
	head
		title admin page
		link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
		script(type='text/javascript', src='bower_components/bootstrap/dist/js/bootstrap.min.js')
	body
		.container
			h1= title
			table.table.table-striped
				tr
					th Name
					th ID
				each val in users
					tr
						td #{val.name}
						td #{val.id}
