.panel.panel-default
	ul.nav.nav-pills.nav-stacked
		li
			a(href="/admin")
				i.fa.fa-home(area-hidden="true") &nbsp;ホーム
		li
			a(href="/admin/users")
				i.fa.fa-users(area-hidden="true") &nbsp;ユーザ情報
		li
			a(href="/admin/drinks")
				i.fa.fa-coffee(area-hidden="true") &nbsp;商品情報

.panel.panel-default
	ul.nav.nav-pills.nav-stacked
		li
			a(href="https://github.com/Canchu/CoffeeManager" target="_blank")
				i.fa.fa-github(area-hidden="true") &nbsp;GitHub
		li
			a(href="https://nestle.jp/amb/town/" target="_blank") ネスカフェ
		li
			a(href="http://www.nanbanya.co.jp/" target="_blank") 南蛮屋
