body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table th {
    background-color:#9999ff;
    padding: 3px;
}

table tr td {
    background-color:#eeeeff;
    padding: 3px;
}

table.all_data_table {
	width: 100%;
	text-align: left;
}

table.all_data_table thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.all_data_table thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.all_data_table thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}